
<div class="pre-content d-flex"><h2>All the Cocktails available</h2>
<span id="add_cocktail">+ Add a cocktail</span>
</div>

<div id="new_cocktail_form" class="hide">
<%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, class: "btn btn-sm btn-outline-primary btn-block" %>
<% end %>
</div>

<% @cocktails.each do |cocktail, dose| %>
  <%= render "shared/card", cocktail: cocktail %>
<% end %>
<hr/>
